html, body {
	overflow-x: hidden;
	overflow-y: auto;
	font-family: 'Shadows Into Light', cursive;
}

/* navbar styling */

#navbarwrap {
	margin-bottom: 200px;
}

.navbar fixed-top navbar-light bg-light {
	background: transparent;
}

.navbar-brand {
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}
.navbar-brand:hover {
	background-color: #f1f1f1;
	border-color: #f1f1f1;
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}
.navbar-toggler {
	background-color: #ffe9ec;
	color: white;
	border-color: #5e0010;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
	border-radius: 50%;
}
.navbar-toggler:hover {
	background-color: #ff4a6a;
	border-color: #5e0010;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
	border-radius: 50%;
}
.nav-item {
	background-color: #ffe9ec;
	color: white;
	border-color: #5e0010;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
	border-radius: 50%;
	text-align: center;
}
.nav-item:hover {
	background-color: #ff4a6a;
	border-color: #5e0010;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
	border-radius: 50%;
}
/* navbar styling*/

/* homepage */




#hometitlecontainer {
	margin-top: 100px;
  position: relative;
height: auto;
	width: 100%;
	border-radius: 15%;
	border-width:15px;  
    border-style: double;
    border-color: #0080ff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}

.titleimagetext {
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1rem;
}


#titleimage {
	vertical-align: middle;
justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1rem;
	border-radius: 15%;
	height: 800px;
	width: 100%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}

#titleimage:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.centeredhometitlecontent {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1rem;
	border-radius: 15%;
	
}


#hometitlecontainer .centeredhometitlecontent {
	position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  	justify-content: center;
	align-items: center;
	text-align: center;
	overflow-x: none;
	border-radius: 15%;

}

.img-fluid {
	border-radius: 15%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}

#homediamondtop {
	margin-top: 230px;
	margin-bottom: 230px;
	max-width: 100%;
	height: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 15%;
}

#homepage1 {
	max-width: 100%;
	height: auto;
}

/* Zoom-n-rotate Container */


.img-hover-zoom--zoom-n-rotate img {
  transition: transform .5s ease-in-out;
  border-style: double;
    border-color: #ff1493;
	border-radius: 50%;
	height: 60%;
	width: 60%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}


/* The Transformation */
.img-hover-zoom--zoom-n-rotate:hover img {
  transform: scale(1.7) rotate(25deg);
}

#quotecarousel {
	border: 10px double blue;
	margin: 50px 20px 50px 20px;
}


#threequestionsanimations {
	vertical-align: middle;
	align-items: flex-start;
	width: 70%;
	margin-top: 200px;
	margin-bottom: 300px;
	border: 10px double #ff8000;
	position: relative;
  -webkit-animation-name: example;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}


@-webkit-keyframes example {
  0%   {background-color:transparent; left:0px; top:0px;}
  25%  {background-color:transparent; left:200px; top:0px;}
  50%  {background-color:transparent; left:200px; top:200px;}
  75%  {background-color:transparent; left:0px; top:200px;}
  100% {background-color:transparent; left:0px; top:0px;}
}


@keyframes example {
  0%   {background-color:transparent; left:0px; top:0px;}
  25%  {background-color:transparent; left:200px; top:0px;}
  50%  {background-color:transparent; left:200px; top:200px;}
  75%  {background-color:transparent; left:0px; top:200px;}
  100% {background-color:transparent; left:0px; top:0px;}
}


#fouragreementsanimations {
	vertical-align: middle;
  position: relative;
 	align-items: flex-start;
	width: 70%;
	margin-top: 200px;
	margin-bottom: 300px;
	border: 10px double #ff8000;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  animation-direction: reverse;  
  -webkit-animation-iteration-count: infinite;  
          animation-iteration-count: infinite;
}


@-webkit-keyframes example {
  0%   {background-color:transparent; left:0px; top:0px;}
  25%  {background-color:transparent; left:200px; top:0px;}
  50%  {background-color:transparent; left:200px; top:200px;}
  75%  {background-color:transparent; left:0px; top:200px;}
  100% {background-color:transparent; left:0px; top:0px;}
}


@keyframes example {
  0%   {background-color:transparent; left:0px; top:0px;}
  25%  {background-color:transparent; left:200px; top:0px;}
  50%  {background-color:transparent; left:200px; top:200px;}
  75%  {background-color:transparent; left:0px; top:200px;}
  100% {background-color:transparent; left:0px; top:0px;}
}



/* homepage */

/* contactform */

#contactpageheader {
	background: transparent;
	margin: 80px 20px 20px 20px;
}

#contactheadimage{
	border-radius: 15%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}

#contactdivider {
	background: transparent;
	max-width: 100%;
	height: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#dividerimage {
	max-width: 100%;
	height: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 15%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}

#dividerimage:hover {
	-webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#contactform {
	margin: 50px 50px 50px 50px;
	background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
	border-radius: 20%;
}
form {
	background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
	border-radius: 20%;
	justify-content: center;
	align-items: center;
	text-align: center;
}
label {
	justify-content: center;
	align-items: center;
	text-align: center;
}
.contactformbutton {
	align-items: center;
	justify-content:center;
	text-align: center;
}
#contactformbutton {
	border: black;
	background-image: linear-gradient(to right top, #230a4a, #211651, #212057, #21295c, #233260, #2a3a66, #32436d, #3a4b73, #47567e, #54618a, #616d95, #6e79a1);
	border-radius: 50%;
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
	transition: 0.2s;
}

#contactformbutton:hover {
	opacity: 0.7;
}
	
#contactcardtitle {
	margin: 50px 50px 50px 50px;
	border-radius: 15%;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
	background-image: linear-gradient(to right top, #28c8cf, #1fc2e9, #5db8f8, #97a9f5, #c699e1, #d291d5, #db89c7, #e382b8, #dc7fbc, #d47cc0, #cb79c4, #c177c8);
}

#contactcardtitlecard {
	border-radius: 15%;
}

#contactcard-textcontactpage {
	border-radius: 15%;
}

#contactcard {
	margin: 5px 5px 5px 5px;
	border-radius: 15%;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}

#contactcard:hover {
	-webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


#contactcardimage {
	border-radius: 15%;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}

#cardwrap {
	margin: 150px 50px 150px 50px;
	border-radius: 15%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
	background-image: linear-gradient(to right top, #a4e4e7, #a5e0f5, #b3d9fc, #c9d1fa, #dfc8ef, #e6c2ea, #edbde2, #f4b7d9, #f3b1dd, #f0ace1, #eca7e7, #e6a3ed);
}

.card-textcontactpage {
	background-image: linear-gradient(to right top, #ffc0cb, #ffc7bc, #ffd3b0, #f6e0ad, #e2eeb6, #d0f4c3, #bff9d4, #b1fce7, #adf9f2, #aff5fa, #b6f0fe, #c0ebff);
	border-radius: 15%;
}



/* contactform */

/* books */

#bookspagetitledescription {
	font-weight: bold;
	max-width: 100%;
	height: auto;
	color: #578E2C;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 150px 50px 50px 50px;
	background-image: linear-gradient(to right top, #0a2505, #144211, #236118, #35821d, #4ba41f, #63b721, #7bc922, #94dc23, #aee32b, #c7e935, #dff041, #f6f64d);
	border-radius: 30%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}

#booktitlecardjumbotron {
	margin: 150px 10px 5px 10px;
  max-width: 100%;
  height: auto;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.8), 0 24px 80px 0 rgba(0, 0, 0, 0.76);
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 10%;
	background-image: linear-gradient(to right top, #ed569e, #ff6381, #ff7c64, #ff9c4a, #ffbd39, #f4cc33, #e5dc33, #d3eb3d, #c1ec3e, #aded41, #97ee47, #7fee4e);
}

#booktitlecard {
	color: #800080;
	font-weight: bold;
	border-radius: 10%;
	background-color:#def7de;
}

#buybooks {
	height: auto;
	margin: 20px 10px 200px 10px;
	border-radius: 30%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
	max-width: 100%;
	background: transparent;
	vertical-align: middle;
	align-items: center;
	text-align: center;
	background-image: linear-gradient(to right top, #edbda8, #f3c3a2, #f6cb9d, #f6d398, #f2dd95, #eee395, #e8ea96, #e1f099, #dcf39c, #d7f79f, #d2faa3, #ccfda7);
}
#bookcoverpicture {
	margin-top: 80px;
	margin-bottom: 80px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
	height: auto;
	vertical-align: middle;
	align-items: center;
	border-radius: 10%;
    max-width: 100%;
}
.zoom {
	transition: transform .2s;
}
.zoom:hover {
	transform: scale(1.5);
}

#bookcoveramazon {
	max-width: 100%;
	height: auto;
	box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.8), 0 24px 80px 0 rgba(0, 0, 0, 0.76);
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 10%;
}
#bookcoveramazon:hover {
	opacity: 0.7;
	-webkit-animation: shake 0.5s;
	animation: shake 0.5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
@-webkit-keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}
@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

#moreshop {
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 20px 20px 20px 20px;
	background: transparent;
	border-radius: 10%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
	background-image: linear-gradient(to right top, #e55fb6, #c94dab, #ac3ca1, #8e2c96, #701d8a, #621a89, #521888, #401787, #3a1f91, #32269a, #252ca4, #0833ae);
}

#moreshopimage {
	max-width: 100%;
	height: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: transparent;
	border-radius: 10%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}

.bookpagezoom {
  transition: transform .2s;
  margin: 0 auto;
}

.bookpagezoom:hover {
  transform: scale(0.5); 
}

/* books */
/* about.html */
#donmiguelruiztitle {
	max-width: 100%;
	height: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 150px 50px 50px 50px;
	background: transparent;
	border-radius: 30%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}
.img-hover-zoom--zoom-n-pan-h img {
	transition: transform .5s ease-in-out;
	transform: scale(1.4);
	transform-origin: 100% 0;
	width: 100px;
	height: 100px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 20%;
	margin: 10px 10px 10px 10px;
}
.img-hover-zoom--zoom-n-pan-h:hover img {
	transform: scale(1.5) translateX(30%);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 20%;
	margin: 10px 10px 10px 10px;
	width: 100px;
	height: 100px;
}
#abouttitleimage {
	border-radius: 20%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 100px;
}
#aboutcardimagetop {
	max-width: 100%;
	height: auto;
	border-radius: 20%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
	justify-content: center;
	align-items: center;
	text-align: center;
}
#miguelruizwriteup {
	font-weight: bold;
	max-width: 100%;
	height: auto;
	color: #578E2C;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 150px 50px 50px 50px;
	background-image: linear-gradient(to right top, #eb6720, #ff705c, #ff828e, #ff9ab8, #ffb4d9, #fbb5da, #f7b6da, #f3b7da, #f09fc1, #ec87a5, #e56f86, #da5864);
	border-radius: 30%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}
.container-fluid {
	max-width: 100%;
	height: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#miguelruizaboutimages {
	max-width: 100%;
	border-radius: 15%;
	background-image: linear-gradient(to right top, #d9e9f6, #dde8f8, #e2e7f8, #e8e5f8, #eee4f6, #f5e0f1, #fbdde9, #ffdbdf, #ffdaca, #ffe0b2, #e6eca8, #b3f8b7);
	height: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);

}
#aboutpageimagewriteup {
	opacity: 1;
	display: block;
	transition: .5s ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	max-width: 100%;
	height: auto;
	border-radius: 20%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
	justify-content: center;
	align-items: center;
	text-align: center;
}
.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;
	text-align: center;
}
.container-fluid:hover #writeupimage {
	font-size: 0.5rem;
	opacity: 0.05;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.container-fluid:hover .middle {
	opacity: 1;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.writeuptext {
	background-color: transparent;
	font-weight: bold;
	color: #001800;
	font-size: 1rem;
	align-items: center;
	text-align: center;
}

#writeupimage {
	max-width: 100%;
	height: auto;
	border-radius: 20%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
	justify-content: center;
	align-items: center;
	text-align: center;
}

#aboutsonstitle {
	background-image: linear-gradient(to right top, #760646, #8c235f, #a23a79, #b75195, #cc67b2, #d969b6, #e66ab9, #f36cbb, #f858a0, #f94582, #f63362, #ed2741);
	border-radius: 20%;
	justify-content: center;
	align-items: center;
	text-align: center;
	 max-width: 100%;
	height: auto;
}

#aboutsonstitlecard {
	border-radius: 20%;
	justify-content: center;
	align-items: center;
	text-align: center;
	 max-width: 100%;
	height: auto;
}

#aboutsons {
	background-color: transparent;
	border-radius: 20%;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	 max-width: 100%;
	height: auto;
}

#aboutjose {
	background-color: transparent;
	border-radius: 20%;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	 max-width: 100%;
	height: auto;
}

#aboutsonsbutton {
	border-radius: 50%;
	background-image: linear-gradient(to right top, #760646, #8c235f, #a23a79, #b75195, #cc67b2, #d969b6, #e66ab9, #f36cbb, #f858a0, #f94582, #f63362, #ed2741);
	color: white;
	border-color: #760646;
	align-items: center;
	text-align: center;
}

#aboutsonsbutton:hover {
	opacity: 0.5;
}


.flip-boxjr {
	max-width: 100%;
	height: auto;
  background-color: transparent;
  perspective: 1000px;
}

.flip-box-innerjr {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-boxjr:hover .flip-box-innerjr {
  transform: rotateY(180deg);
}

.flip-box-frontjr, .flip-box-backjr {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-frontjr {
  background-color: #bbb;
  color: black;
}

.flip-box-backjr {
  background-color: transparent;
  color: purple;
  transform: rotateY(180deg);
}

#aboutmigueljrimage {
	 max-width: 100%;
	height: auto;
	border-radius: 20%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}

.flip-boxjose {
  max-width: 100%;
	height: auto;
  background-color: transparent;
  perspective: 1000px;
}

.flip-box-innerjose {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-boxjose:hover .flip-box-innerjose {
  transform: rotateX(180deg);
}

.flip-box-frontjose, .flip-box-backjose {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-frontjose {
  background-color: transparent;
  color: black;
}

.flip-box-backjose {
  background-color: transparent;
  color: purple;
  transform: rotateX(180deg);
}

/* about.html */

/* events.html */

#eventcards {
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

#eventcardtransition {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
  transition: width 2s, height 2s, transform 2s;
  margin-left: auto;
  margin-right: auto;
}

#eventcardtransition:hover {
  transform: rotate(180deg);
}

#eventscarddetailedcard1 {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
	margin-left: auto;
	margin-right: 0;
	margin-bottom: 220px;
  position: relative;
  -webkit-animation: mymove 3s;
          animation: mymove 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}


@-webkit-keyframes mymove {
  from {top: 0px;}
  to {top: 200px;}
}


@keyframes mymove {
  from {top: 0px;}
  to {top: 200px;}
}

#eventscarddetailedcard2 {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
	margin-left: 0;
	margin-right: auto;
	margin-bottom: 220px;
  position: relative;
  -webkit-animation: mymove 3s;
          animation: mymove 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}


@-webkit-keyframes mymove {
  from {top: 0px;}
  to {top: 200px;}
}


@keyframes mymove {
  from {top: 0px;}
  to {top: 200px;}
}

#eventscarddetailedcard3 {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
	margin-left: auto;
	margin-right: 0;
	margin-bottom: 220px;
  position: relative;
  -webkit-animation: mymove 3s;
          animation: mymove 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}


@-webkit-keyframes mymove {
  from {top: 0px;}
  to {top: 200px;}
}


@keyframes mymove {
  from {top: 0px;}
  to {top: 200px;}
}

#eventscarddetailedcard4 {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
	margin-left: 0;
	margin-right: auto;
	margin-bottom: 220px;
  position: relative;
  -webkit-animation: mymove 3s;
          animation: mymove 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}


@-webkit-keyframes mymove {
  from {top: 0px;}
  to {top: 200px;}
}


@keyframes mymove {
  from {top: 0px;}
  to {top: 200px;}
}


/* socialmediabuttons */
.fab {
	color: black;
	border: none;
	height: 40px;
	width: 40px;
	margin: 20px 20px 20px 20px;
	padding: 8px 8px 8px 8px;
	border-radius: 50%;
	font-size: 1.5rem;
	text-align: center;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	transition: transform .2s;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
	background-image: linear-gradient(to right top, #224bde, #007df9, #009ee8, #00b7bf, #00cb98, #62c366, #94b835, #c1a600, #e1781e, #e8454b, #d11e7a, #9430a3);
}
.fab:hover {
	color: black;
	opacity: 0.4;
	align-items: center;
	justify-content: center;
	text-align: center;
	transform: scale(1.5);
	text-decoration: none;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}
.fab-facebook {
	color: black;
	align-items: center;
	justify-content: center;
	text-align: center;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}
.fab-twitter {
	color: black;
	align-items: center;
	justify-content: center;
	text-align: center;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}
.fab-instagram {
	color: black;
	align-items: center;
	justify-content: center;
	text-align: center;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}
#social {
	position: fixed;
	border: 10px double #00ffff;
	margin-top: 300px;
	margin-bottom: 200px;
	background: transparent;
	max-width: 100%;
	height: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
}
/* socialmediabuttons */
